/* Mariusz Heyda, insanepl@gmail.com, @insanepl
   License: none (public domain)
   Crossbrowser Forms Reset v.0.3
*/

form {
  margin: auto;
  width: 800px;
}

input, select, textarea {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  border-radius: 0;
  outline: 0;

  &:focus,
  &:active,
  &:hover {
	outline: 0;
  }

  &::-moz-focus-inner {
	border: 0;
	padding: 0;
  }

  &:invalid {
	outline: none;
	box-shadow: none;
  }
}

input {
  /* 1 */
  /* Fixing Vertical Align */
  background-clip: padding-box;

  &[type=search] {
	appearance: textfield;
	box-sizing: border-box;
  }

  &[type=number] {
	-moz-appearance: textfield;
  }

  &::-webkit-search-decoration {
	display: none;
  }

  &::-webkit-clear-button {
	display: none;
	appearance: none;
  }

  &[type="reset"],
  &[type="button"],
  &[type="submit"] {
	overflow: visible;
	appearance: button;
	cursor: pointer;
  }

  &::-webkit-file-upload-button {
	padding: 0;
	border: 0;
	background: none;
  }

  &[type="checkbox"] {
	padding: 0;
	appearance: radio;
  }
  &[type="radio"] {
	padding: 0;
	appearance: checkbox;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
	appearance: none;
	display: none;
  }

  &::-ms-clear, &::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
  }
}

select {
  user-select: none;
  text-overflow: ellipsis;
  white-space: nowrap;

  &::-ms-expand {
	display: none;
  }

  /* 1 */
  /* Remove Outline from Select Elements on FF */
  &:-moz-focusring {
	color: transparent; /* 1 */
	text-shadow: 0 0 0 transparent; /* 1 */
  }

}

textarea {
  vertical-align: top;
  padding-right: 10px;
  resize: none;
}
