/* Variables */
/* Define Your Font Stack & Sizes */
$font-stack: 'Lato', sans-serif; /* Define Font Family */
$base-font: 16; /* Define Font Size Here */
$base-font-size: ($base-font * 1px) !default;

/* Base Colors */
$body-background: #fff; // Body Background Color //
$primary-text-color: #222; // Body Primary Color //
